Dataset used is tmdb movie dataset from  kaggle

In [18]:
# libraries
import numpy as np
import pandas as pd

In [19]:
# dataset
df = pd.read_csv('./tmdb_movie_dataset.csv', index_col = 0)

General Exlporation

In [20]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4775 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4391 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4452 non-null   object
 10  production_countries  4629 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4716 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  cast                  4760 non-null   object
dtypes: float64(3), int64(5), object(14)
memory usage: 863.0+ KB

In [21]:
# %age of null values in each column
percnt_null_val = pd.Series(['%.2f'%((x/df.shape[0])*100) for x in list(df.isna().sum())], index = df.columns)
print(percnt_null_val)

budget                   0.00
genres                   0.58
homepage                64.36
id                       0.00
keywords                 8.58
original_language        0.00
original_title           0.00
overview                 0.06
popularity               0.00
production_companies     7.31
production_countries     3.62
release_date             0.02
revenue                  0.00
runtime                  0.04
spoken_languages         1.81
status                   0.00
tagline                 17.57
title                    0.00
vote_average             0.00
vote_count               0.00
movie_id                 0.00
cast                     0.90
dtype: object

In [22]:
# descriptive statistics
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,movie_id
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989,57165.484281
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891,88694.614033
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,5.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000,9014.500000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000,14629.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000,58610.500000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000,459488.000000

Observations:  Significant amount of null values in 'homepage' column. Around 17% null values in tagline column and there exist small amount of null values in keywords, production_companies, production_countries, spoken_languages, cast. Null values in other columns can be considered as negligible. Looks like missing infomation in some cases.

In [23]:
df.query('revenue == 0.0').shape[0]

1427

In [24]:
df.query('budget == 0.0').shape[0]

1037

In [25]:
df.query('popularity == 0.0').shape[0]

1

In [26]:
df.query('runtime == 0.0').shape[0]

35

In [27]:
# number of duplicated rows
sum(df.duplicated())

0

Data cleaning

In [28]:
# Dropping columns not necessary for now
df.drop(['homepage','overview','tagline','movie_id'],axis=1, inplace=True)

In [29]:
df.columns
df.shape

(4803, 18)

In [30]:
# drop the columns with missing data
df.replace([np.inf, -np.inf], np.nan, inplace = True)
df = df.dropna()
df.shape

(4159, 18)

In [31]:
# extract date from release_date and add new column for it
import datetime
df['release_year'] = pd.DatetimeIndex(df['release_date']).year
df.head(2)

,budget,genres,id,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,cast,release_year
0,237000000,"Action, Adventure, Fantasy, Science Fiction",19995,"culture clash, future, space war, space colony...",en,Avatar,150.437577,"Ingenious Film Partners, Twentieth Century Fox...","United States of America, United Kingdom",2009-12-10,2787965087,162.0,"English, Español",Released,Avatar,7.2,11800,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009
1,300000000,"Adventure, Fantasy, Action",285,"ocean, drug abuse, exotic island, east india t...",en,Pirates of the Caribbean: At World's End,139.082615,"Walt Disney Pictures, Jerry Bruckheimer Films,...",United States of America,2007-05-19,961000000,169.0,English,Released,Pirates of the Caribbean: At World's End,6.9,4500,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",2007

In [32]:
# drop release date
df.drop('release_date',axis=1, inplace=True)
df.columns
df.shape

(4159, 18)

In [33]:
# create a column for profit
df['profit_loss'] = df['revenue'] - df['budget']

For now I am keeping rows with zero values

In [34]:
# save cleaned data for futher analysis
df.to_csv("movies_clean.csv")