Dataset used is tmdb movie dataset from  kaggle

In [2]:
# libraries
import numpy as np
import pandas as pd

In [3]:
# dataset
df = pd.read_csv('./tmdb_movie_dataset.csv')

General Exlporation

In [3]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4452 non-null   object
 11  production_countries  4629 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4716 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  movie_id              4803 non-null   int64
 22  cast                  4760 non-null   object
dtypes: float64(3), int64(6), object(14)
memory usage: 863.2+ KB

In [48]:
# %age of null values in each column
percnt_null_val = pd.Series(['%.2f'%((x/df.shape[0])*100) for x in list(df.isna().sum())], index = df.columns)
print(percnt_null_val)

Unnamed: 0               0.00
budget                   0.00
genres                   0.58
homepage                64.36
id                       0.00
keywords                 8.58
original_language        0.00
original_title           0.00
overview                 0.06
popularity               0.00
production_companies     7.31
production_countries     3.62
release_date             0.02
revenue                  0.00
runtime                  0.04
spoken_languages         1.81
status                   0.00
tagline                 17.57
title                    0.00
vote_average             0.00
vote_count               0.00
movie_id                 0.00
cast                     0.90
dtype: object

In [57]:
# descriptive statistics
df.describe()

,Unnamed: 0,budget,id,popularity,revenue,runtime,vote_average,vote_count,movie_id
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989,57165.484281
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891,88694.614033
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,5.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000,9014.500000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000,14629.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000,58610.500000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000,459488.000000

Observations:  Significant amount of null values in 'homepage' column. Around 17% null values in tagline column and there exist small amount of null values in keywords, production_companies, production_countries, spoken_languages, cast. Null values in other columns can be considered as negligible. Looks like missing infomation in some cases.

In [81]:
df.query('revenue == 0.0').shape[0]

1427

In [82]:
df.query('budget == 0.0').shape[0]

1037

In [83]:
df.query('popularity == 0.0').shape[0]

1

In [85]:
df.query('runtime == 0.0').shape[0]

35

Data cleaning

In [88]:
# Dropping columns not necessary for now
df.drop(['Unnamed','homepage','overview','tagline','movie_id'],axis=1,inplace=True)

KeyError: "['Unnamed' 'homepage' 'overview' 'tagline' 'movie_id'] not found in axis"